<div class="screen">
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1 class="title">Регистрация</h1>

    <tui-textfield>
      <label tuiLabel>Номер телефона</label>

      <input formControlName="phone" tuiInput type="tel" autocomplete="tel" />
    </tui-textfield>

    <tui-error formControlName="phone" />

    <tui-textfield>
      <label tuiLabel>Пароль</label>

      <input formControlName="password" tuiInput type="password" autocomplete="current-password" />
    </tui-textfield>

    <tui-error formControlName="password" />

    @if (isRegistration()) {
      <tui-textfield>
        <label tuiLabel>ФИО</label>

        <input formControlName="fullName" tuiInput autocomplete="name" />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel>Дата рождения</label>

        <input formControlName="birthday" tuiInput type="date" />
      </tui-textfield>
    }

    @if (errorMessage(); as error) {
      <p class="error">
        {{ error }}
      </p>
    }

    <button tuiButton type="submit" size="l" [disabled]="isLoading()">Зарегистироваться</button>
  </form>
</div>
