<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="heading">
    <h1 class="title">Регистрация</h1>

    <p class="subtitle">Создайте аккаунт для продолжения.</p>
  </div>

  <div class="fields">
    <app-form-field label="Номер телефона" controlName="phone">
      <app-text-field
        formControlName="phone"
        type="tel"
        placeholder="+7 (___) ___-__-__"
        [maskitoOptions]="phoneMaskitoOptions"
      />
    </app-form-field>

    <app-form-field label="Пароль" controlName="password">
      <app-password-field formControlName="password" placeholder="Введите пароль" autocomplete="current-password" />
    </app-form-field>

    <app-form-field label="Фамилия">
      <app-text-field formControlName="lastName" placeholder="Введите фамилию" />
    </app-form-field>

    <app-form-field label="Имя">
      <app-text-field formControlName="firstName" placeholder="Введите имя" />
    </app-form-field>

    <app-form-field label="Отчество">
      <app-text-field formControlName="patronymic" placeholder="Введите отчество" />
    </app-form-field>

    <app-form-field label="Дата рождения">
      <app-date-field formControlName="birthday" />
    </app-form-field>
  </div>

  @if (errorMessage(); as error) {
    <p class="error">
      {{ error }}
    </p>
  }

  <button tuiButton type="submit" size="l" [disabled]="isLoading()">Зарегистрироваться</button>
</form>
