<article class="order-card">
  <header class="card-header">
    <h3>Заказ № {{ order().orderNumber }}</h3>
    <span class="status" [attr.data-appearance]="order().status.appearance">
      {{ order().status.name }}
    </span>
  </header>

  <div class="details">
    <p>Дата создания: {{ formatDate(order().createdAt) }}</p>

    @if (order().appointmentAt) {
      <p>Дата и время записи: {{ formatDate(order().appointmentAt) }}</p>
    }

    <p>Тип работ: {{ order().workTypes.join(', ') || '-' }}</p>

    <p>
      Статус работ:
      <span class="status" [attr.data-appearance]="order().workStatus?.appearance">
        {{ order().workStatus?.name || '-' }}
      </span>
    </p>

    <p>Стоимость работ: {{ order().price ? order().price + ' руб' : '-' }}</p>

    @if (isAdminRole()) {
      <p>Телефон владельца: {{ order().ownerPhone || '-' }}</p>
    }

    @if (showCarInfo()) {
      <p>Авто: {{ order().carName }}</p>
      <p>VIN: {{ order().carVin || '-' }}</p>
      <p>Гос. номер: {{ order().carPlateNumber || '-' }}</p>
    }

    @if (order().description) {
      <p>{{ showCarInfo() ? 'Кр. описание' : 'Описание' }}: {{ order().description }}</p>
    }
  </div>

  @if (showPayment() && order().status.requiresPayment) {
    <button tuiButton appearance="outline" type="button" class="payment-button">Оплатить</button>
  }
</article>
