:host {
  display: block;
}

.order-card {
  display: grid;
  gap: 0;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 12px;
  background: var(--tui-background-neutral-1);
}

.card-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
}

.card-header h3 {
  margin: 0 0 4px;
  color: var(--tui-text-secondary);
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
}

.card-header .status {
  flex: 0 0 auto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
}

.details {
  display: grid;
  gap: 0;
}

.details p {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
}

.status[data-appearance='positive'] {
  color: var(--tui-text-positive);
}

.status[data-appearance='warning'] {
  color: var(--tui-text-warning);
}

.status[data-appearance='negative'] {
  color: var(--tui-text-negative);
}

.payment-button {
  justify-self: center;
  min-width: 243px;
  margin-top: 8px;
}

@media (max-width: 520px) {
  .card-header {
    align-items: flex-start;
  }

  .card-header .status {
    text-align: right;
  }
}
