<section class="profile">
  <h1 class="title">Ваши данные:</h1>

  <form class="form" [formGroup]="form">
    <app-form-field label="ФИО">
      <app-text-field formControlName="fullName" placeholder="Введите полностью ваши ФИО" />
    </app-form-field>

    <app-form-field label="Номер телефона">
      <app-text-field
        formControlName="phone"
        type="tel"
        inputmode="tel"
        placeholder="+7(XXX)XXX-XX-XX"
      />
    </app-form-field>

    <app-form-field label="Дата рождения">
      <app-date-field formControlName="birthday" />
    </app-form-field>
  </form>

  @if (isMechanic()) {
    <section class="statistics">
      <h2>Статистика по заказам:</h2>

      <div class="statistics-content">
        <tui-ring-chart
          [value]="value"
          [(activeItemIndex)]="activeItemIndex"
        >
          <span>{{ value.reduce(sum, 0) }}</span>
          <div>Всего</div>
        </tui-ring-chart>

        <div class="legend">
          @for (label of labels; track label; let index = $index) {
            <tui-legend-item
              size="s"
              class="item"
              [active]="isItemActive(index)"
              [color]="'var(--tui-chart-categorical-' + index.toString().padStart(2, '0') + ')'"
              [text]="label"
              (tuiHoveredChange)="onHover(index, $event)"
            >
              <span>{{ value[index] || 0 }}</span>
            </tui-legend-item>
          }
        </div>
      </div>
    </section>
  }

  <button tuiButton appearance="outline" type="button" class="save-button" [disabled]="true">
    Сохранить изменения
  </button>
</section>
